#sorting{
    margin-top: 100px;
    padding-right: 16px;
    text-align: right;
}


.filter {
    padding: 10px 20px;
}

/* filter */

#filter {
    height: 100%;
    width: 23%;
    margin-left: 16px;
    margin-top: 80px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding: 1.1rem;
    padding-bottom: unset;
}



#wrapper {
    width: 100%;
    display: flex;
    gap: 3rem;
}
#container{
    height: 100%;
    width: 75%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    margin-top: 80px;
    /* border: 2px solid red; */
    /* background-color: white; */
}
.ccc{
    display: flex;
    flex-direction: row;
    padding: 10px;
    
}
.t1{

    padding: 20px;

}
.t1 img{
    height: 200px;
    width: 200px;
}
.but{
    /* background-color: wheat; */
    font-style: italic;
   font-size: large;
}