/* TOP PICKS */
.imgmargin{
    width: 8.5vw;
    margin-left: 0px;
    margin-right: 0px;
    
}
/* ICONIC BRANDS */
.i{
    width: 19vw;
    margin: 0px;
}
/* THE KIDS SPACE */
.k{
    width: 100%;
    height: 450px;
    margin: 0px;
    padding: 0px;
}
.bbuy{
    width: 15.5vw;
    padding: 0px;
}