.big{
    width: 18vw;
    margin-left: 10px;
}
.b{
    padding-left: 20px;
}
.ctb{
    padding-left: 25px;
}
.wh{
    width: 14vw;
    margin-left: 15px;
}
.etb{
    width: 16vw;
    margin-left: 30px;
}